<div class="card">
    <div class="card-body before-after">
        <figure>
            <img class="before-image" src="{{ .Get "before" }}" alt="Before Image" />
            <img class="after-image" src="{{ .Get "after" }}" alt="After Image" />
            <span class="before-label">Before</span>
            <span class="after-label">After</span>
            <figcaption>{{ .Get "caption" }}</figcaption>
        </figure>
    </div>
</div>